
.category {
    cursor: pointer;

}
.categoryHead{
    height: calc(100vh - 268px);
    padding-right: 5px;
    margin-top: 28px;
    width: 100%;
    align-items: center;
    display: flex;
}
.margin{
    margin: 20px;
    height: 200px;
    width: 200px;
}

.photooo{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}